<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script type="module" src="schedule.js"></script>
</head>
<body>
    <div id="drawer" class="drawer">
        <div class="drawer-tab" onclick="toggleDrawer()">
            <span id="hidden-count">0</span> programs hidden
        </div>
        <div class="drawer-content">
            <ul id='hidden-programs'></ul>
        </div>
    </div>
    
    <table>
        {% for weekday, programs in by_weekday.items() if programs %}
            {# Header row with weekday and dates #}
            <thead>
              <tr>
                <th data-weekday="{{ weekday }}">{{ weekday_name(weekday) }}</th>
                {% for date in week_dates[weekday] %}
                    <th data-date="{{ date.isoformat() if date else '' }}">{{ date.day ~ '.' ~ date.month ~ '.' if date else '' }}</th>
                {% endfor %}
                {# Add empty headers for remaining days if needed #}
                {% for _ in range(max_dates - (week_dates[weekday]|length)) %}
                    <th></th>
                {% endfor %}
                <th>Ohjelma</th>
              </tr>
            </thead>

            {# Program rows #}
            {% for time_str, name, prog_dates in programs|sort %}
                <tr data-program='{{ name }}'>
                    <td>{{ time_str }}</td>
                    {% for date in week_dates[weekday] %}
                        {% if date %}
                            <td class="{{ 'marked' if date in prog_dates }}">{{ '✓' if date in prog_dates else '' }}</td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    {% endfor %}
                    {# Add empty cells for remaining days if needed #}
                    {% for _ in range(max_dates - (week_dates[weekday]|length)) %}
                        <td></td>
                    {% endfor %}
                    <td class="program-cell" onclick="toggleProgram('{{ name }}')">{{ name }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
</body>
</html>
